In [8]:
# 1. Check if a given string is a palindrome.

M = "Manoj"
is_palindrome = M == M[::-1]
print(is_palindrome)

False

In [30]:
# 2. Count the number of vowels in a string and store the result in a dictionary.

M = "Manoj"
vowels = "aeiouAEIOU"
Vowels_C = []

for i in M:
    if i in vowels:
        Vowels_C.append(i)

print(Vowels_C)

['a', 'o']

In [32]:
#  3. Convert the first letter of each word in a string to uppercase (title case manually).

M = "MY name is Manoj"
Manoj = ' '.join(word.capitalize() for word in M.split())
print(Manoj)

My Name Is Manoj

In [52]:
# 4. Find the most frequently occurring character in a string.

M = "Manoj"
freq = {}

for i in M:
    freq[i] = freq.get(i, 0) + 1

most_frequent = max(freq, key=freq.get)
print("Most frequent character:", most_frequent)

Most frequent character: M

In [58]:
# 5. Count digits, alphabets, and special characters in a string

M = "Manoj@69"
digits = 0
alphabets = 0
special = 0
for i in M:
    if i.isdigit():
        digits += 1
    elif i.isalpha():
        alphabets += 1
    else:
        special += 1

print(f"Alphabets: {alphabets}, Digits: {digits}, Special Characters: {special}")

Alphabets: 5, Digits: 2, Special Characters: 1

In [62]:
# 2. List (5 Questions)
# 6. Remove duplicate elements from a list without using set() 

Manoj = [6, 9, 6, 9, 6, 9, 69]
unique = []
for i in Manoj:
    if i not in unique:
        unique.append(i)
print(unique)

[6, 9, 69]

In [70]:
# 7. Reverse a list without using built-in functions

Manoj = [6, 9, 6, 9, 69]
Manoj_list = []
for i in range(len(Manoj)-1, -1, -1):
    Manoj_list.append(Manoj[i])
print(Manoj_list)

[69, 9, 6, 9, 6]

In [76]:
# 8. Find the 2nd largest and 2nd smallest element in a list

Manoj = [6, 9, 6, 9, 69]
Manoj_list = sorted(set(Manoj))  
Manoj_small = Manoj_list[1]
Manoj_large = Manoj_list[-2]
print("2nd Smallest:", Manoj_small)
print("2nd Largest:", Manoj_large)

2nd Smallest: 9
2nd Largest: 9

In [82]:
# 9. Store the square of each element using list comprehension

Manoj = [1, 2, 3, 4]
squares = [i**2 for i in Manoj]
print(squares)

[1, 4, 9, 16]

In [84]:
# 10. Flatten a nested list

Manoj = [[1, 2], [3, 4], [5]]
flat = [i for j in Manoj for i in j]
print(flat)

[1, 2, 3, 4, 5]

In [90]:
# 3. Tuple (5 Questions)
# 11. Reverse a tuple without [::-1]

M = (6, 9, 6, 9)
reversed_M = tuple(reversed(M))
print(reversed_M)

(9, 6, 9, 6)

In [92]:
# 12. Extract unique elements from a tuple

M = (1, 2, 2, 3, 4, 4)
unique = []
for i in M:
    if i not in unique:
        unique.append(i)
print(unique)

[1, 2, 3, 4]

In [94]:
# 13. Concatenate two tuples and sort them

M1 = (3, 1, 4)
M2 = (2, 5)
Add = M1 + M2
sorted_tuple = tuple(sorted(Add))
print(sorted_tuple)

(1, 2, 3, 4, 5)

In [98]:
# 14. Count frequency of an element without using count()

M = (1, 2, 2, 3, 2, 4)
element = 2
count = 0
for i in M:
    if i == element:
        count += 1
print(count)

3

In [106]:
# 15. Separate even and odd numbers into two tuples

M= (1, 2, 3, 4, 5, 6)
even = tuple([i for i in M if i % 2 == 0])
odd = tuple([i for i in M if i % 2 != 0])
print("Even:", even)
print("Odd:", odd)

Even: (2, 4, 6)
Odd: (1, 3, 5)

In [108]:
# 4. Set (5 Questions)
# 16. Union, intersection, and difference without operators

a = {1, 2, 3}
b = {2, 3, 4}

union = a.copy()
for i in b:
    union.add(i)

intersection = set()
for i in a:
    if i in b:
        intersection.add(i)

difference = set()
for i in a:
    if i not in b:
        difference.add(i)

print("Union:", union)
print("Intersection:", intersection)
print("Difference:", difference)

Union: {1, 2, 3, 4}
Intersection: {2, 3}
Difference: {1}

In [114]:
# 17. Remove a random element from a set without pop()

import random
M = {1, 2, 3, 4}
random_element = random.choice(list(M))
M.remove(random_element)
print("Removed:", random_element)
print("Remaining:", M)

Removed: 2
Remaining: {1, 3, 4}

In [122]:
# 18. Convert a list to set and check if duplicates are removed

Manoj = [6, 9, 6, 9]
s = set(Manoj)

print(s)

{9, 6}

In [128]:
# 19. Check if two sets are disjoint

a = {1, 2}
b = {3, 4}
disjoint = True
for i in a:
    if i in b:
        disjoint = False
        
print("Disjoint", disjoint)

Disjoint True

In [138]:
# 20. Find sum of all elements in a set

M= {6, 9, 6, 9}
total = 0
for i in M:
    total += i
print("Sum:", total)

Sum: 15

In [9]:
# 5. Dictionary (5 Questions)
# 21. Create a dictionary and print keys in ascending order

M = {'M3': 69, 'M2': 9, 'M1': 6}
for key in sorted(M):
    print(key)

M1
M2
M3

In [140]:
# 22. Add a new key with value = sum of existing values

M = {'M1': 6, 'M2': 9, 'M3': 69}
M['total'] = sum(M.values())
print(M)

{'M1': 6, 'M2': 9, 'M3': 69, 'total': 84}

In [142]:
# 23. Merge two dictionaries

M1 = {'M11': 6, 'M22': 9}
M2 = {'M33': 69}
merged = M1.copy()
merged.update(M2)
print(merged)

{'M11': 6, 'M22': 9, 'M33': 69}

In [148]:
# 24. Find the key with the largest value

M = {'a': 6, 'b': 9, 'c': 69}
max_key = max(M, key=M.get)
print(max_key)

c